  <div class="homepage-splash" id="homesplash">
    <div class="homepage-splash-logo">
      <%= image_tag "logo.svg", alt: "logo" %>
    </div>
    <p>Vous accompagner au quotidien pour aller toujours plus loin !</p>
  </div>
<div class="wrapper">

  <div class="blue-block">
    <p>Ton compagnon au quotidien</p>
  </div>

  <div class="home_search-block">
   <%= simple_form_for :search, url: establishments_path, method: :get do |f| %>
    <%= f.input :location, label: false, placeholder: 'Où allons nous ?', input_html: { class: 'my-form' }%>
    <%= f.input :activity, label: false, collection: Establishment.categories.to_a[0...-2].to_h.keys, input_html: { class: 'my-form', style: " width: 190px;" }, prompt: "Que veux-tu faire ?" %>
    <%= f.button :submit, "C'est parti !", class: "button mb-4" %>
   <% end %>

  <div class="activities_options">
    <div class="home-picto">
      <%= link_to establishments_path do %>
      <%= image_tag "picto_loisirs.svg", alt: "Loisirs"%>
      <p>Loisirs</p>
      <% end %>
    </div>
    <div class="home-picto">
      <%= link_to "https://fr.street-co.com/", target: "_blank" do %>
      <%= image_tag "picto_deplacements.svg", alt: "deplacements"%>
      <p>Déplacements</p>
      <% end %>
    </div>
    <div class="home-picto">
      <%= link_to "https://handiplanet.com/", target: "_blank" do %>
      <%= image_tag "picto_voyages.svg", alt: "voyages"%>
      <p>Voyages</p>
      <% end %>
    </div>
    <div class="home-picto">
      <%= link_to "https://www.seloger.com/immobilier/locations/immo-bordeaux-33/", target: "_blank" do %>
      <%= image_tag "picto_logements.svg", alt: "logements"%>
      <p>Logements</p>
      <% end %>
    </div>
    <div class="home-picto">
      <%= link_to "https://parking.handicap.fr/", target: "_blank" do %>
      <%= image_tag "picto_parking.svg", alt: "parking"%>
      <p>Parkings</p>
      <% end %>
    </div>
    <div class="home-picto">
      <%= link_to reports_path do %>
      <%= image_tag "picto_reclamations.svg", alt: "reclamations"%>
      <p>Signaler un pb</p>
      <% end %>
    </div>

  </div>

</div>

<script></script>
