<div class="wrapper">
  <div class="blue-block">
    <p>Ton compagnon au quotidien</p>
  </div>

  <div class="home_search-block">
   <%= simple_form_for :search, url: establishments_path, method: :get do |f| %>
    <%= f.input :location, label: false, placeholder: 'Où allons nous ?', input_html: { class: 'my-form' }%>
    <%= f.input :activity, label: false, collection: Establishment.categories.to_a[0...-2].to_h.keys, input_html: { class: 'my-form', style: " width: 190px;" }, prompt: "Que veux-tu faire ?" %>
    <%= f.button :submit, "C'est parti !", class: "button mb-4" %>
   <% end %>

  <div class="activities_options">
    <div class="home-picto">
      <%= image_tag "picto_loisirs.svg", alt: "alttext"%>
      <p>Loisirs</p>
    </div>
    <div class="home-picto">
      <%= image_tag "picto_deplacements.svg", alt: "alttext"%>
      <p>Déplacements</p>
    </div>
    <div class="home-picto">
      <%= image_tag "picto_voyages.svg", alt: "alttext"%>
      <p>Voyages</p>
    </div>
    <div class="home-picto">
      <%= image_tag "picto_logements.svg", alt: "alttext"%>
      <p>Logements</p>
    </div>
    <div class="home-picto">
      <%= image_tag "picto_parking.svg", alt: "alttext"%>
      <p>Parkings</p>
    </div>
    <div class="home-picto">
      <%= image_tag "picto_reclamations.svg", alt: "alttext"%>
      <p>Signaler un pb</p>
    </div>

  </div>

</div>
