<div class="wrapper">
  <div class="blue-block lg-blue-block mb-3">
    <%= simple_form_for :search, url: reports_path, method: "GET", html: { class: 'form-inline my-2 my-lg-0 ml-3' } do |f| %>
    <%= f.input :title, label: false ,input_html: {class: "my-form sm-input"} %>
    <%= f.submit "Search", class: "button" %>
    <% end %>
  </div>

  <div class="container hover">
    <% if @reports %>
    <% @reports.each do |report| %>

    <div class="card-new">
      <div class="card-image"></div>
        <div class="card-text">
          <h2><%= report.title %></h2>
          <p>Travaux de rénovation nécessaires pour que les usagers puissent de nouveau emprunter le trotoir en toute sécurité.</p>
        </div>
        <div class="card-stats">
          <div class="return">
            <%= link_to "Renvoyer", reports_path %>
          </div>
        <div class="stat border">
          <div class="value">245</div>
          <div class="type">vues</div>
        </div>
        <div class="stat">
          <div class="value">32</div>
          <div class="type">avis</div>
        </div>
      </div>
    </div>
    <% end %>
  <% end %>
  <div class="container title">
    <h5>Faire remonter<br>un nouveau signalement</h5>
    <%= simple_form_for @report do |f| %>
      <%= f.input :title, input_html: { class: "my-form"} %>
      <%= f.input :content, input_html: { maxlength: 150, class: "my-form" } %>
      <%= f.input :location, input_html: { class: "my-form"} %>
      <%= f.input :photo, as: :file %>
      <%= f.submit 'Signaler mon problème', class: "button"%>
    <% end %>
  </div>
</div>
