<%= link_to establishment_path(establishment) do %>
 <div class="card-product mb-2 ">
  <% if establishment.photos.attached? %>
    <%= cl_image_tag establishment.photos.first.key, height: 100, width: 141, crop: :fill %>
  <% else %>
    <img src="https://media-cdn.tripadvisor.com/media/photo-s/14/ec/c0/8c/getlstd-property-photo.jpg" class="p-1" />
  <% end %>

    <div class="card-product-infos">
      <h3><%= establishment.name %></h3>
      <span class="blue-line"></span>
      <div class="card-product-top-infos">
        <ul class="rounded-circle list-inline">
          <% unless establishment.service_average.nil? %>
            <% count = 0 %>
            <% while count < establishment.service_average %>
              <li><i class="fas fa-circle pl-0 pt-2"></i></li>
              <% count += 1 %>
            <% end %>
          <% end %>

          <p><%= establishment.reviews.count %> avis</p>
        </ul>
      </div>
    </div>
    <% color = "#128AB2" %>
      <% unless establishment.access_average.nil? %>
        <% if establishment.access_average >= 4 %>
         <% color = "green" %>
        <% elsif establishment.access_average >= 3%>
          <% color = "#f77f00" %>
        <% else %>
          <% color = "red" %>
        <% end %>
      <% end %>

    <div class="card-product-icons like d-block d-flex flex-column ">
      <% if current_user.favorites.find_by(establishment: establishment) %>
        <%= link_to favorite_path(current_user.favorites.find_by(establishment: establishment)), method: :delete, remote: true do %>
          <i class="fas fa-heart pl-1"></i>
        <% end %>
      <% else %>
        <%= link_to establishment_favorites_path(establishment), method: :post, remote: true do %>
          <i class="far fa-heart pl-1"></i>
      <% end %>
  <% end %>
      <%= image_tag "picto_handi_white.svg", class: "handi_icon", style: "background-color: #{color}; border-radius: 50%" %>
      <p> <%= establishment.access_average%></p>
    </div>
  </div>
<% end %>
