<div class="wrapper">
  <div class="blue-block category-establishment" type="filtre">
    <% @categories.each do |category| %>
        <%= link_to category.capitalize, filter: category %>
    <% end %>
  </div>

  <div id="map"
     style="width: 100%; height: 45vh;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>

  <div class="container mt-2">

  <% @establishments.each do |establishment| %>
    <%= link_to establishment_path(establishment) do %>
     <div class="card-product mb-2">
      <% if establishment.photos.attached? %>
        <%= cl_image_tag establishment.photos.first.key, height: 100, width: 141, crop: :fill %>
      <% else %>
        <img src="https://media-cdn.tripadvisor.com/media/photo-s/14/ec/c0/8c/getlstd-property-photo.jpg" class="p-1" />
      <% end %>

        <div class="card-product-infos">
          <h3><%= establishment.name %></h3>
          <div class="card-product-top-infos">
            <ul class="rounded-circle list-inline">
              <% unless establishment.service_average.nil? %>
                <% count = 0 %>
                <% while count < establishment.service_average %>
                  <li><i class="fas fa-circle"></i></li>
                  <% count += 1 %>
                <% end %>
              <% end %>

              <p><%= establishment.reviews.count %> avis</p>
            </ul>
          </div>
        </div>
        <div class="card-product-icons like d-block mx-auto d-flex flex-column">
          <i class="far fa-heart"></i>
          <%= image_tag "picto_handi.png", class: "small_icon" %>
          <p> <%= establishment.access_average%></p>
        </div>
      </div>
      <% end %>
    <% end %>

  </div>
</div>
