<div class="wrapper">
  <div class="container">
    <div class="card-show">

      <div class="d-flex pictures">
        <% if @establishment.photos.attached? %>
          <%= cl_image_tag @establishment.photos.first.key, height: 160, width: 172, crop: :fill %>
        <% else %>
          <%= image_tag "loco_by_jems_1.jpg", class: "img-left", height: "160px"%>
        <% end %>
        <div class="img-right">
          <% if @establishment.photos.attached? %>
            <%= cl_image_tag @establishment.photos[1].key, height: 80, width: 166, crop: :fill if @establishment.photos[1].present? %>
            <%= cl_image_tag @establishment.photos[2].key, height: 80, width: 166, crop: :fill if @establishment.photos[2].present? %>
          <% else %>
            <%= image_tag "loco_by_jems_2.jpg", alt: "alttext", class: "", height: "80px" %>
            <%= image_tag "loco_by_jems_3.jpg", alt: "alttext", class: "", height: "80px" %>
          <% end %>
        </div>
        <%= image_tag "Icon/heart.svg", alt: "alttext", class: "icon-heart" %>
      </div>

      <div class="card-show_content">

        <div class="d-flex justify-content-between">
          <div>
            <h5><%= @establishment.name %></h5>
            <div class="d-flex">
              <ul class="rounded-circle d-flex">
                <li><i class="fas fa-circle"></i></li>
                <li><i class="fas fa-circle"></i></li>
                <li><i class="fas fa-circle"></i></li>
                <li><i class="fas fa-circle"></i></li>
                <li><i class="fas fa-circle"></i></li>
              </ul>
              <p><small> <%= @establishment.reviews.count %> avis</small></p>
            </div>
          </div>
          <div id="handi-picto">
            <%= image_tag "picto_handi.png", alt: "alttext" %>
            <span><%= @access_average ? @access_average : "-" %> / 5 </span>

          </div>
        </div>

        <div class="card-show_description d-flex">
          <p><%= @establishment.description %></p>
          <div class="establishment-show_button">
            <%= link_to "Retour à la liste" , establishments_path, class: "button" %>
            <%= link_to "Comment s'y rendre" , establishment_path(@establishment, anchor: "map-show"), class: "button" %>
          </div>
        </div>


      </div>

    </div>

    <div class="reviews">
      <% @reviews.each do |review| %>
        <div class="card card-review p-2 mb-2">
          <div class="d-flex justify-content-between card-review_header">
            <h6><strong><%= review.user.first_name %></strong>, le <%= review.created_at.strftime("%d/%m/%Y") %> </h6>
            <div class="review-card_rating d-flex">
              <div class="access_rating d-flex">
                <%= image_tag "picto_handi.png", alt: "alttext" %>
                <p><%= review.access_rating %>/5 </p>
              </div>
              <div class="service_rating d-flex">
                <%= image_tag "picto_loisirs.svg", alt: "alttext" %>
                <p><%= review.service_rating ? review.service_rating : "-" %>/5</p>
              </div>
            </div>
          </div>
          <p class="review-content"><%= review.content %></p>
        </div>
      <% end %>
    </div>
    <div class="new_review card px-3 py-1">
      <h6>Ecrire un nouveau commentaire</h6>
      <%= simple_form_for [@establishment, @review] do |f| %>
        <%= f.input :content %>
        <%= f.input :access_rating %>
        <%= f.input :service_rating %>
      <% end %>
    </div>
    <div id="map-show"
         style="width: 100%; height: 40vh;"
         data-marker="<%= @marker.to_json %>"
         data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
         class="mb-5">
    </div>
  </div>
</div>
